extends template

block headerBar
  include header/settings

block content
  .container
    .setting-tabs
      .tab.active(data-target='#panel-1') General Settings
      .tab(data-target='#panel-2') Confirmation Template
      .tab(data-target='#panel-3') Notfication Template
    form.settings-form

      .setting-panel.active#panel-1
        .form-group
          label(for="email") Admin Email
          p This email will be used to notify the admin when a customer request a notification
          input.form-control(type="text" name="email" placeholder="Insert your email" value=settings.email)

        .form-group
          label(for="storeLogo") Store Logo
          p This field is used to replace the default logo.
          p Recommended width dimention: 400px
            img(src=src="/public/ghimicelli_store_icon.png" style="max-width: 100%;height: 30px;padding: 0 8px;")
          input.form-control(type="text" name="storeLogo" placeholder="Insert a logo url" value=settings.storeLogo)

      .setting-panel#panel-2
        div.mb-12
          a.btn(href='/api/preview-confirmation?shop=#{shopName}' target='_blank') Preview Confirmation Template

        .form-group
          .text-bold.text-center Store Logo

        .form-group
          label(for="replyP1") Paragraph 1
          p First paragraph. This goes right after the logo.
          textarea.form-control(type="textarea" name="replyP1")= settings.replyP1

        .form-group
          .text-bold.text-center Product Image

        .form-group
          label(for="replyP2") Paragraph 2
          p Second paragraph. This goes right after the product image. This Image will be shown only, if a promo Link exist.
          textarea.form-control(type="textarea" name="replyP2")= settings.replyP2

          label.pt-16(for="promoLink") Promo Link
          p URL where the customer will be directed to get a store credit.
          input.form-control(type="text" name="promoLink" placeholder="Insert a promo url" value=settings.promoLink)

          label.pt-16(for="promoImage") Promo Image URL
          p This field is used to add the promo image. This Image will be shown only, if a promo Link exist.
          p Recommended width dimention: 400px
          input.form-control(type="text" name="promoImage" placeholder="Insert a promo image url" value=settings.promoImage)

          label.pt-16(for="replyP3") Paragraph 3
          p Third paragraph. This goes right after the promo image. This Image will be shown only, if a promo Link exist.
          textarea.form-control(type="textarea" name="replyP3" )= settings.replyP3

      .setting-panel#panel-3
        div.mb-12
          a.btn(href='/api/preview-notification?shop=#{shopName}' target='_blank') Preview Notification Template

        .form-group
          .text-bold.text-center Store Logo

        .form-group
          label(for="notificationP1") Paragraph 1
          p First paragraph. This goes right after the logo.
          textarea.form-control(type="textarea" name="notificationP1")= settings.notificationP1

        .form-group
          .text-bold.text-center Product Image

        .form-group
          label(for="notificationP2") Paragraph 2
          p First paragraph. This goes right after the product image.
          textarea.form-control(type="textarea" name="notificationP2")= settings.notificationP2
